{% extends 'base.html.twig' %}

{% block title %}All Categories{% endblock %}

{% block body %}
<div class="container text-dark text-center">
    <h1>All categories</h1>
    <a href="{{ path('category_new') }}">New category</a>
    {% for category in categories %}
        <div>
            <h2>{{ loop.index }} Category : {{ category.name }}</h2>
            <a href="{{ path('category_show', { categoryName: category.name }) }}">Category</a>
        </div>
    {% else %}
        None category find.
    {% endfor %}

    <a href="{{ path('app_index') }}">
        Home
    </a>
</div>
{% endblock %}
