{% extends 'base.html.twig' %}

{% block title %}Category {{ category.name }}{% endblock %}

{% block body %}
    <h1>All TV Show from category {{ category.name }}</h1>
    {% for program in programs %}
        <div>
            <h2>{{ loop.index }} / {{ program.title }}</h2>
                <p>{{ program.summary }}</p>
                    <a href="{{ path("program_show", { program: program.id }) }}">Do you like to know more?</a>
        </div>
    {% else %}
        None TV Show found.
    {% endfor %}
    <a href="{{ path('category_index') }}">
        Back to categories
    </a>
{% endblock %}